.Sobre {
  padding: 5rem 0;
  background-color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.Titulo {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.CaracteristicasGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.cardImage {
  width: 100%;
  height: 200px; /* Altura fixa para as imagens */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  color: var(--dark-blue);
}

.cardText {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 1.5rem 1.5rem 1.5rem;
}